/* === Small CSS Reset === */
* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(data/space.png);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 4rem 0;
  text-decoration: underline;
}

#container {
  width: 100vw;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

.card{
  width: 100%;
  background-color: white;
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}

.card p {
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 0.5rem;
}

.card img {
  width: 100%;
  height: auto
}