/* === Small CSS Reset === */
* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(data/space.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 4rem 0;
}

#container {
  width: 100vw;
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

.card{
  width: 100%;
  background-color: white;
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.card img {
  width: 150px;
  height: 150px;
}